
body {
    margin: 0px;
    padding: 0px;
    background-color: cadetblue;
}

.button {
    /* outline: 3px dotted black; */
    margin: 10px;
}

.main-window {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
   
} 


.game-window {
    width: 600px;
    height: 600px;
    /* outline: 3px dotted black; */
    margin: 20px;
    position: relative;
    margin: 40px;
    display: inline-block;
    background-color: white;
   }
