
body {
    margin: 0px;
    padding: 0px;
    background-color: #067ead;
}

.header {
    margin-top: 60px;   
}

button {
    background-color: #1a2846;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #3a3e47;
    cursor: pointer;
}

.main-window {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
   
} 


.game-window {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 60px;
    display: inline-block;
    background-color: white;
   }
